<footer class="container footer">
  <div class="footer-box">
    <ul class="menu-list">
      <li>About us</li>
      <li>Tours</li>
      <li>Gallery</li>
      <li>Contacts</li>
    </ul>
    <ul class="contact-list">
      <li>+38097-123-11-11</li>
      <li>WondersOfUkraine@gmail.com</li>
      <li>Lviv, Zaporyzhka, 198</li>
      <li>
        <ul class="social-list">
          <li class="footer-social">
            <a>
              <svg class="social__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social">
            <a>
              <svg class="social__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social">
            <a>
              <svg class="social__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <p class="footer-rights">© All Rights Reserved</p>
</footer>
