<footer class="container footer">
  <div class="footer-box">
    <img src="./images/Logo-footer.png" class="footer-logo" alt="" />
    <ul class="footer-menu">
      <li class="footer-menu-list">About us</li>
      <li class="footer-menu-list">Tours</li>
      <li class="footer-menu-list">Gallery</li>
      <li class="footer-menu-list">Contacts</li>
    </ul>
    <ul class="footer-contact-list">
      <li class="footer-list">+38097-123-11-11</li>
      <li class="footer-list">WondersOfUkraine@gmail.com</li>
      <li class="footer-list">Lviv, Zaporyzhka, 198</li>
      <li class="footer-list">
        <ul class="footer-social-list">
          <li class="footer-social">
            <a>
              <svg class="footer-social__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social">
            <a>
              <svg class="footer-social__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social">
            <a>
              <svg class="footer-social__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <p class="footer-rights">© All Rights Reserved</p>
</footer>
