<div class="container">
  <h2 class="title">Gallery</h3>
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img
          class="gallery-img"
          src="./images/gallery/gallery1-min.jpg"
          alt=""
        />
      </div>
      <div class="swiper-slide">
        <img
          class="gallery-img"
          src="./images/gallery/gallery2-min.jpg"
          alt=""
        />
      </div>
      <div class="swiper-slide">
        <img
          class="gallery-img"
          src="./images/gallery/gallery3-min.jpg"
          alt=""
        />
      </div>
      <div class="swiper-slide">
        <img
          class="gallery-img"
          src="./images/gallery/gallery4-min.jpg"
          alt=""
        />
      </div>
      <div class="swiper-slide">
        <img
          class="gallery-img"
          src="./images/gallery/gallery5-min.jpg"
          alt=""
        />
      </div>
      <div class="swiper-slide">
        <img
          class="gallery-img"
          src="./images/gallery/gallery6-min.jpg"
          alt=""
        />
      </div>
      <div class="swiper-slide">
        <img
          class="gallery-img"
          src="./images/gallery/gallery7-min.jpg"
          alt=""
        />
      </div>
      <div class="swiper-slide">
        <img
          class="gallery-img"
          src="./images/gallery/gallery8-min.jpg"
          alt=""
        />
      </div>
    </div>
    <!-- If we need pagination
  <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar
  <div class="swiper-scrollbar"></div> -->
  </div>
</div>
