<div class="container hero">
  <h1 class="hero-title">
    Unlock the Wonders<br />
    of
  </h1>
  <div class="main">
    <div class="box" id="box1">Ukraine</div>
  </div>
  <button class="hero-button button">Our tours</button>
  <ul class="social-list">
    <li class="social-links">
      <a>
        <svg class="social__icons" width="24" height="24">
          <use href="./images/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="social-links">
      <a>
        <svg class="social__icons" width="24" height="24">
          <use href="./images/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="social-links">
      <a>
        <svg class="social__icons" width="24" height="24">
          <use href="./images/sprite.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
