<div class="section reviews">
  <h3 class="title">Reviews</h3>

  <div class="swiper reviews-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide review-wrap">
        <img src="./images/rewievs/anastasia.jpg" alt="" />
        <ul>
          <li>Anastasia</li>
          <li></li>
        </ul>
        <p class="review-text">
          Professional guides, comfortable transport, excellent hotels and
          exciting excursions - it was unforgettable! I recommend this company
          to anyone who wants to get the best experience out of their trip.
        </p>
      </div>
      <div class="swiper-slide review-wrap">
        <img src="./images/rewievs/marry.jpg" alt="" />
        <ul>
          <li>Anastasia</li>
          <li></li>
        </ul>
        <p class="review-text">
          Professional guides, comfortable transport, excellent hotels and
          exciting excursions - it was unforgettable! I recommend this company
          to anyone who wants to get the best experience out of their trip.
        </p>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
