<div class="container">
    <h2 class="title">Our tours</h3>
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <h3>Lake Synevyr and Shipit waterfall</h3>
        <img src="./images/tours/tours1.jpg" alt="">
        <ul>
        <li>Departure from Lviv (07:00) / Stryi (08:00)</li>
        <li>Pylypets (overview of Shipit waterfall and lunch)</li>
        <li>Synevyr Pass (photographing and viewing of Carpathian panoramas)</li>
        <li>"Synevyr" National Park (brown bear rehabilitation center and transition to the lake)</li>
        <li>Stryi (21:00)/Lviv (return by 22:00)</li>
    </ul>
    <h4>Included:</h4>
          <ul>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-bus"></use>
              </svg>
              Transfer
            </li>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-id-card"></use>
              </svg>
              Travel insurance
            </li>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-face"></use>
              </svg>
              Professional guide
            </li>
            <li class="tour-included__list">
              <svg class="tour__icons" width="24" height="24">
                <use href="./images/sprite.svg#icon-ticket"></use>
              </svg>
              Travel insurance
            </li>
          </ul>
        </div>
        <button class="button tours-booking">Book</button>
      

      </div>
      <div class="swiper-slide">
        
      </div>
      
    </div>
    <!-- If we need pagination
  <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar
  <div class="swiper-scrollbar"></div> -->
  </div>
</div>