.footer-box {
  display: flex;
  font-family: Jomolhari;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 1%;
}

.footer-logo {
  width: 396px;
}

.footer-menu-list {
  gap: 16px;
  text-align: left;
}
