.footer-box {
  display: flex;
  justify-content: space-between;
  font-family: Jomolhari;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 1%;
}

.footer-logo {
  width: 396px;
}

.footer-menu-list {
  gap: 16px;
  text-align: left;
  margin-bottom: 16px;
}
.footer-contact-list {
  text-align: right;
  margin-bottom: 16px;
}

.footer-social-list {
  gap: 15px;
  display: flex;
  justify-content: flex-end;
}
