.header-container {
  position: absolute;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  position: absolute;
}

.menu {
  display: flex;
}

.menu-item {
  margin-left: 64px;
  font-size: 18px;
}
