.hero {
  background-image: url(../images/hero-desc.jpg);
}

.hero-title {
  font-family: Jomolhari;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.01em;
  text-align: center;
  padding-top: 199px;

  @media screen and (min-width: 835px) {
    font-size: 48px;
    line-height: 67px;
    padding-top: 256px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 144px;
  }
}

.main {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

.box {
  font-family: Jomolhari;
  font-size: 64px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 0.01em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 835px) {
    font-size: 128px;
    // line-height: 179px;
  }
}

#box1::after {
  content: 'Ukraine';
  margin-top: 0;
  display: flex;
  background: linear-gradient(
    15deg,
    #fff -54.67%,
    rgba(255, 255, 255, 0) 58.38%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transform: scaleY(-1) translateY(-20px);
}

.hero-button {
  margin-left: auto;
  margin-right: auto;
  padding: 12px 52px;
  display: block;
  align-items: center;
  color: #ffffff;
}

.social-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: absolute;
  bottom: 32px;
  left: 50%;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;

  @media screen and (min-width: 835px) {
    bottom: 64px;
    margin-right: auto;
    flex-direction: column;
    left: 96%;
  }

  @media screen and (min-width: 1440px) {
    padding-bottom: 100px;
  }
}

.social-links {
  display: inline;
  margin-left: 15px;

  :last-child {
    margin-left: 0px;
  }
}
.social__icons {
  fill: #ffffff;
}
