.tour-slide {
  width: 704px;
  text-align: left;
}
.tour-img {
  margin-bottom: 106px;
}
h3 {
  font-family: Jomolhari;
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 1%;
  margin-bottom: 32px;
}

.tours-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 1%;
}
h4 {
  font-family: Jomolhari;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 16px;
  margin-top: 18px;
}

.tour-included__list {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 1%;

  // line-height: 22px;
  // letter-spacing: 0.01em;
  // text-align: left;
  // gap: 8px;
  // display: flex;
}

.tour__icons {
  margin-right: 16px;
}

.tours-booking {
  min-width: 288px;
  padding: 16px 52px;
  // padding-top: 16px;
  // padding-bottom: 16px;
  // margin-top: 32px;
  // margin-bottom: 32px;
  color: #fff;
  font-family: Jomolhari;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01em;
}

.book-tour {
  display: flex;
  justify-content: space-between;
}
